<h1 class="mt-4">Cliente</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro' }}</li>
</ol>

<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success==true">
            Registro Salvo com sucesso
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngIf="cliente.id">
        <div class="form-group">
          <label for="id">Código</label>
          <input
            id="id"
            type="text"
            class="form-control"
            disabled="true"
            [ngModel]="cliente.id"
            name="id"
          />
        </div>
      </div>

      <div class="col-md-6" *ngIf="cliente.id">
        <div class="form-group">
          <label for="dataCadastro">Data Cadastro</label>
          <input
            id="dataCadastro"
            type="text"
            class="form-control"
            disabled="true"
            [ngModel]="cliente.dataCadastro"
            name="dataCadastro"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            id="nome"
            type="text"
            class="form-control"
            [(ngModel)]="cliente.nome"
            name="nome"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input
            id="cpf"
            type="text"
            class="form-control"
            [(ngModel)]="cliente.cpf"
            name="cpf"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save"></i>
          SALVAR
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i>
          VOLTAR
        </button>

      </div>
    </div>
  </form>
</div>
