<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">
                  {{
                    cadastroUsuario
                      ? "Cadastro de novo usuário"
                      : "Acesso ao sistema"
                  }}
                </h3>
              </div>

              <div class="card-body">
                <div class="alert alert-success" *ngIf="mensagemSucesso">
                  {{mensagemSucesso}}
                </div>

                <div class="alert alert-danger" *ngIf="loginError">
                  Login ou senha inválido
                </div>

                <form #loginForm="ngForm" (submit)="onSubmit()">
                  <div class="form-group">
                    <input
                      type="text"
                      name="username"
                      [(ngModel)]="username"
                      class="form-control py-4"
                      placeholder="Login"
                    />

                    <input
                      type="password"
                      name="password"
                      [(ngModel)]="password"
                      class="form-control py-4 mt-2"
                      placeholder="Senha"
                    />

                    <div
                      class="
                        form-group
                        align-items-center
                        justify-content-between
                        mt-4
                        mb-0
                      "
                    >
                      <button type="submit" class="btn btn-primary" *ngIf="!cadastroUsuario">
                        Entrar
                      </button>

                      <button type="button" class="btn btn-success" *ngIf="cadastroUsuario" (click)="cadastrar()">
                        Cadastrar
                      </button>

                      <button 
                      type="button" 
                      class="btn btn-danger ml-2" 
                      *ngIf="cadastroUsuario"
                      (click)="cancelaCadastro()"
                      >
                        Cancelar
                      </button>

                    </div>
                  </div>
                </form>
              </div>

              <div class="card-footer text-center">
                <div class="small">
                  <a href="#" (click)="cadastrarUsuario($event)"
                    >Não possui usuário? Cadastre-se</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
